<div class="container">
	<div class="card-panel">
		<div class="row">
			<div class="col l2">
				<img src="../img/book/book4.jpg" alt="" class="responsive-img">	
			</div>
			<div class="col l9">
				<h3>Rain Reign</h3>
				<p><b>Author: </b>Ann M.Martin</p>
				<p><b>Published in: </b>2014</p>
				<p><b>Description: </b>Rose Howard is obsessed with homonyms. She's thrilled that her own name is a homonym, and she purposely gave her dog Rain a name with two homonyms (Reign, Rein), which, according to Rose's rules of homonyms, is very special. Not everyone understands Rose's obsessions, her rules, and the other things that make her different - not her teachers, not other kids, and not her single father.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col l4">
			<div class="card-panel">
				<div class="row valign-wrapper">
					<div class="col l3">
						<img src="../img/avatar/kitano.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l9 black-text">
						<div><b>Kitano-san</b></div>
						<div>Email: kitano.atWare@gmail.com</div>
						<div>Date of Birth: 04 Sep 1993</div>
						<div>Location: Yokohama</div>
						<div>Work: atWare</div>
					</div>
				</div>
			</div>

			<div class="card-panel">
				<div class="row valign-wrapper">
					<div class="col l3">
						<img src="../img/avatar/the.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l9 black-text">
						<div><b>Shiro-san</b></div>
						<div>Email: shiro.atWare@gmail.com</div>
						<div>Date of Birth: 04 Sep 1993</div>
						<div>Location: Yokohama</div>
						<div>Work: atWare</div>
					</div>
				</div>
			</div>

			<div class="card-panel">
				<div class="row valign-wrapper">
					<div class="col l3">
						<img src="../img/avatar/huy.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l9 black-text">
						<div><b>Huy</b></div>
						<div>Email: huy.atWare@gmail.com</div>
						<div>Date of Birth: N/A</div>
						<div>Location: Yokohama</div>
						<div>Work: atWare</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col l8">
			<div class="card-panel">
				<div class="row">
					<div class="col l1">
						<img src="../img/avatar/the.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l11">
						<div><b>Shiro</b></div>
						<div>This book is great!</div>
					</div>
				</div>

				<div class="row">
					<div class="col l1">
						<img src="../img/avatar/the.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l11">
						<div><b>Shiro</b></div>
						<div>What do you think about the ending?</div>
					</div>
				</div>

				<div class="row">
					<div class="col l1">
						<img src="../img/avatar/huy.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l11">
						<div><b>Huy Nguyen</b></div>
						<div>I think the ending is boring</div>
					</div>
				</div>

				<div class="row">
					<div class="col l1">
						<img src="../img/avatar/huy.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l11">
						<div><b>Huy Nguyen</b></div>
						<div>Do you think it will have a sequence?</div>
					</div>
				</div>

				<div class="row">
					<div class="col l1">
						<img src="../img/avatar/the.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l11">
						<div><b>Shiro</b></div>
						<div>Yeah I think so. The ending is still opening</div>
					</div>
				</div>

				<div class="row">
					<div class="col l1">
						<img src="../img/avatar/jack.jpg" alt="" class="circle responsive-img">
					</div>
					<div class="col l11">
						<div><b>Jack</b></div>
						<div>Anyone have this book? I want to read it</div>
					</div>
				</div>

				<div class="divider"></div>
				<div class="input-field">
					<i class="material-icons prefix">send</i>
					<input type="text" id="user-comment">
					<label for="user-comment">Post your comment</label>
				</div>

			</div>
		</div>
	</div>
</div>