<nav class="indigo">
	<div class="nav-wrapper" id="header">
		<a href="/" class="brand-logo indigo darken-4" id="brand-name">Book Sharing</a>
		<ul class="left">
			<li><a href="/">Home</a></li>
			<li><a href="">Book</a></li>
			<li><a href="">People</a></li>
			<li><a href="">Group</a></li>
		</ul>
		<ul class="right">
			<li>
				<a class="dropdown-button" href="#!" data-activates="user-header-dropdown">Tuấn Vương<i class="material-icons right">arrow_drop_down</i></a>
			</li>
		</ul>
		<ul id="user-header-dropdown" class="dropdown-content">
			<li><a href="/profile">View profile</a></li>
			<li><a href="#!">Logout</a></li>
		</ul>
	</div>
</nav>