<div class="container">
	<div class="card-panel">
		<div class="input-field">
			<input type="search" id="search-field" class="field" placeholder="Search for your need..." required maxlength="">
			<label for="search-field"><i class="material-icons">search</i></label>
			<i class="mdi-navigation-close close"></i>
		</div>
		<div class="input-field">
			<input name="search-option" type="radio" id="book" checked>
			<label for="book">Book</label>
			<input name="search-option" type="radio" id="author">
			<label for="author">Author</label>
			<input name="search-option" type="radio" id="people">
			<label for="people">People</label>
			<input name="search-option" type="radio" id="group">
			<label for="group">Group</label>
		</div>
	</div>

	<div class="banner">
		<img src="img/banner.jpg" alt="" style="width:100%">
	</div>

	<div class="row">
		<div class="col l9">
			<div class="card-panel">
				<div class="section book-category">
					<h4>Latest Book Available</h4>
					<a href="">See more</a>
					<div class="divider"></div>
					<div class="row">
						<div class="col l2 s4">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book1.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 s4">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book2.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 s4">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book3.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 hide-on-med-and-down">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book4.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 hide-on-med-and-down">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book5.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 hide-on-med-and-down">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book6.jpg">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="section book-category">
					<h4>Most Popular Novel</h4>
					<a href="">See more</a>
					<div class="divider"></div>
					<div class="row">
						<div class="col l2 s4">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book5.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 s4">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book4.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 s4">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book6.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 hide-on-med-and-down">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book2.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 hide-on-med-and-down">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book1.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 hide-on-med-and-down">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book3.jpg">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="section book-category">
					<h4> Most Popular Computer Science</h4>
					<a href="">See more</a>
					<div class="divider"></div>
					<div class="row">
						<div class="col l2 s4">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book3.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 s4">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book4.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 s4">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book5.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 hide-on-med-and-down">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book6.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 hide-on-med-and-down">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book1.jpg">
									</a>
								</div>
							</div>
						</div>

						<div class="col l2 hide-on-med-and-down">
							<div class="card">
								<div class="card-img">
									<a href="/book">
										<img src="img/book/book2.jpg">
									</a>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<div class="col l3">
			<div class="card most-person">
				<div class="card-content">
					<div class="card-title black-text">Most lender</div>
					<div class="divider"></div>
					<div class="row lender">
						<div class="col s3">
							<img src="img/avatar/kitano.jpg" alt="" class="circle responsive-img">
						</div>
						<div class="col s9">
							<span class="black-text">
								<b>Kitano</b> has lended 16 books
							</span>
						</div>
					</div>
					<div class="row lender">
						<div class="col s3">
							<img src="img/avatar/kitano.jpg" alt="" class="circle responsive-img">
						</div>
						<div class="col s9">
							<span class="black-text">
								<b>Kitano</b> has lended 16 books
							</span>
						</div>
					</div>
					<div class="row lender">
						<div class="col s3">
							<img src="img/avatar/kitano.jpg" alt="" class="circle responsive-img">
						</div>
						<div class="col s9">
							<span class="black-text">
								<b>Kitano</b> has lended 16 books
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="card most-person">
				<div class="card-content">
					<div class="card-title black-text">Most borrower</div>
					<div class="divider"></div>
					<div class="row lender">
						<div class="col s3">
							<img src="img/avatar/kitano.jpg" alt="" class="circle responsive-img">
						</div>
						<div class="col s9">
							<span class="black-text">
								<b>Kitano</b> has lended 16 books
							</span>
						</div>
					</div>
					<div class="row lender">
						<div class="col s3">
							<img src="img/avatar/kitano.jpg" alt="" class="circle responsive-img">
						</div>
						<div class="col s9">
							<span class="black-text">
								<b>Kitano</b> has lended 16 books
							</span>
						</div>
					</div>
					<div class="row lender">
						<div class="col s3">
							<img src="img/avatar/kitano.jpg" alt="" class="circle responsive-img">
						</div>
						<div class="col s9">
							<span class="black-text">
								<b>Kitano</b> has lended 16 books
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>