<div class="container">
	<div class="profile grey lighten-2">
		<div class="row profile-info valign-wrapper">
			<div class="col l2">
				<img src="../img/avatar/the.jpg" alt="" class="circle avatar">
			</div>
			<div class="col l10">
				<h2>Shiro</h2>
				<div class="left">
					18 Friends / 2 Group
				</div>
				<div class="right">
					10 Books Owned / 5 Borrow / 6 Give
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col l3">
			<div class="card basic-information">
				<div class="card-content">
					<div class="card-title black-text">Information</div>
					<div class="divider"></div>
					<p><b>Name: </b>Shiro</p>
					<p><b>Email: </b>shiro.atware@gmail.com</p>
					<p><b>Date of Birth: </b>04 Sep 1993</p>
					<p><b>Location: </b>Yokohama</p>
					<p><b>Work: </b>atWare, Inc</p>
				</div>
			</div>

			<div class="card user-group-information">
				<div class="card-content">
					<div class="card-title black-text">Groups</div>
					<div class="divider"></div>
					<div class="collection">
						<a href="" class="collection-item">atWare, Inc</a>
						<a href="" class="collection-item">Harry Potter Group</a>
						<a href="" class="collection-item">HCMUT Closed Group</a>
					</div>
				</div>
			</div>

			<div class="card user-friend-information">
				<div class="card-content">
					<div class="card-title black-text">Friends</div>
					<div class="divider"></div>
				</div>
			</div>
		</div>

		<div class="col l9">
			<div class="card-panel">
				<table class="bordered centered responsive-table book-list">
					<thead>
						<tr>
							<th>#</th>
							<th>Book Cover</th>
							<th>Book Name</th>
							<th>Author</th>
							<th>Published in</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="5" style="border-right:1px solid #d0d0d0;">Book Owned</td>
							<td>
								<img src="../img/book/book4.jpg" alt="" class="responsive-img">
							</td>
							<td>Rain Reign</td>
							<td>Ann M.Martin</td>
							<td>2014</td>
							<td><button class="btn waves-effect">Borrow</button></td>
						</tr>
						<tr>
							<td>
								<img src="../img/book/book4.jpg" alt="" class="responsive-img">
							</td>
							<td>Rain Reign</td>
							<td>Ann M.Martin</td>
							<td>2014</td>
							<td><button class="btn waves-effect">Borrow</button></td>
						</tr>
						<tr>
							<td>
								<img src="../img/book/book4.jpg" alt="" class="responsive-img">
							</td>
							<td>Rain Reign</td>
							<td>Ann M.Martin</td>
							<td>2014</td>
							<td><button class="btn waves-effect">Borrow</button></td>
						</tr>
						<tr>
							<td>
								<img src="../img/book/book4.jpg" alt="" class="responsive-img">
							</td>
							<td>Rain Reign</td>
							<td>Ann M.Martin</td>
							<td>2014</td>
							<td><button class="btn waves-effect">Borrow</button></td>
						</tr>
						<tr>
							<td>
								<img src="../img/book/book4.jpg" alt="" class="responsive-img">
							</td>
							<td>Rain Reign</td>
							<td>Ann M.Martin</td>
							<td>2014</td>
							<td><button class="btn waves-effect">Borrow</button></td>
						</tr>
						<tr>
							<td rowspan="3" style="border-right:1px solid #d0d0d0;">Recommendation</td>
							<td>
								<img src="../img/book/book1.jpg" alt="" class="responsive-img">
							</td>
							<td>Fake Id</td>
							<td>Lamar Giles</td>
							<td>2014</td>
							<td></td>
						</tr>
						<tr>
							<td>
								<img src="../img/book/book1.jpg" alt="" class="responsive-img">
							</td>
							<td>Fake Id</td>
							<td>Lamar Giles</td>
							<td>2014</td>
							<td></td>
						</tr>
						<tr>
							<td>
								<img src="../img/book/book1.jpg" alt="" class="responsive-img">
							</td>
							<td>Fake Id</td>
							<td>Lamar Giles</td>
							<td>2014</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>